php_value display_errors On
php_value mbstring.http_input auto
php_value date.timezone America/Ecuador

RewriteEngine on

RewriteRule ^usuarios$ /Controllers/UserController.php
RewriteRule ^login$ /Controllers/UserController.php?Login=1
RewriteRule ^usuarios/([A-Za-z\d[:punct:]]+)$ /Controllers/UserController.php?email=$1